* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font: 16px/1.6 system-ui, -apple-system, "Segoe UI", Roboto, Arial, sansserif;
    background: #f8fafc;
    color: #0b1020;
}

main {
    flex: 1;
}

.bg-violet {
    background-color: blueviolet;
}

.responsive-image {
    width: 100%;
    /* Занимает всю ширину контейнера */
    height: auto;
    /* Высота рассчитывается автоматически */
    display: block;
    /* Убирает лишние отступы */
}

.projects-grid {
    display: grid;
    /* включаем CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem; /* промежутки между колонками/строками */
    justify-content: center;
}